.orders__side-list-item {
    list-style: none;
    transition: 200ms;
    font-size: 1rem;
}

.orders__side-list-item:hover, .orders__side-list-item:active, .orders__side-list-item:focus, .orders__side-list-item.current {
    background-color: hsl(0, 0%, 90%);
}

.orders__side-list-item a {
    display: block;
    padding: 1em;
    text-decoration: none;
    color: black;
}
