.animate-mount {
    animation: mount 0.2s linear;
    animation-fill-mode: forwards;
}

@keyframes mount {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.animate-unmount {
    animation: unmount 0.2s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes unmount {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.modal_container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    margin: 0;
    background-color: rgba(0, 0, 0, .5);
}

.modal {
    max-height: 80vh;
    width: 900px;
    max-width: 80%;
    background-color: white;
    border-radius: .3em;
    display: flex;
    flex-direction: column;
}

.modal_header {
    padding: 0 1rem .5rem 1rem;
    border-bottom: 1px solid #777;
    display: flex;
    justify-content: space-between;
}

.modal_title {
    font-size: 1.5rem;
    padding-top: 1rem;
    font-weight: bold;
}

.modal_close-button {
    background: none;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    padding: .5rem 0 0 0;
    cursor: pointer;
    align-self: flex-start;
}

.modal_body {
    flex-grow: 1;
    overflow: auto;
    padding: 1rem;
}

.modal_footer {
    display: flex;
    justify-content: flex-end;
    padding: .5rem;
    border-top: 1px solid #777;
}

.modal_footer .btn {
    margin-right: .5rem;
}

.modal_footer .btn:last-child {
    margin-right: initial;
}
