@import "css/app.css";

:root {
    --primary-color: hsl(200, 60%, 40%);
    --primary-hover-color: hsl(200, 60%, 30%);
}

/*noinspection CssInvalidAtRule*/
@import-normalize
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

body > div {
    height: 100%;
    display: flex;
    flex-direction: column;
}
